@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html, body {
    background-color: black;
    color: white;
  }

  html {
    scrollbar-color: theme(colors.darkGray) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
  
  @media screen and (min-width: 720px) {
    a, button {
      cursor: none;
    }
  }

  @font-face {
    font-family: 'Atlas Typewriter';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/AtlasTypewriter-Light-Web.woff2') format('woff2'), url('/fonts/AtlasTypewriter-Light-Web.woff') format('woff');
  }

  @font-face {
    font-family: 'Atlas Typewriter';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/AtlasTypewriter-Regular-Web.woff2') format('woff2'), url('/fonts/AtlasTypewriter-Regular-Web.woff') format('woff');
  }

  @font-face {
    font-family: 'Martina Plantijn';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/martina-plantijn-light.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Martina Plantijn';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/martina-plantijn-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Martina Plantijn';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/martina-plantijn-medium.woff2') format('woff2');
  }
}
